<div style="text-align: center;">
    <input value="" style="width:50%;" type="search" class="form-control" (keyup.enter)="search($event)"
        placeholder="Tapes ici ta recherche...">
</div>

<!--ICI APPEL AU COMPONENT DE FILTRES-->
<app-filtre-images></app-filtre-images>

<br><br><br><br>
<div class="containerImg" style="background-image: url('');">

    <div id="divImg" class="divPic" *ngFor="let image of images">
        <img id="{{image.id}}" class="imgTest" src="{{image.url}}_m.jpg" title="{{image.title}}" (click)="onImageClick($event)">
    </div>
        
    <div class="search-results" 
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
    </div>
</div>

<div class="blurrer" (click)="onBlurrerClick($event)"></div>
<div class="imgContainer">
    <div>
        <img src={{imgOrigin}} alt="Orginal sized image" class="original">
    </div>
    <div class="info" (click)="showInfo($event)"> i </div>
</div>


            <!-- <div>        
            <img id="imgElmt" class="imgTest" src="{{image.url}}_m.jpg" title="{{image.title}}">
        </div> -->

        <!-- </a> -->