input {
    transition: all .1s east-out;
    display: inline-block;
    border-radius: 10px;}

input:hover {
    transform: scale(1.01)}

.containerImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    /* max-width: 60%; */
    
}

.divPic {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    transition: all .3s ease-out;
    height: 140px;
    width:fit-content;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: inherit;
    overflow: hidden;
}


img {
    /* object-fit: cover; */
    /* width:350px;
    height: 250px; */
    border: 1px  solid;
    border-radius: 10px;
    box-shadow: 3px 0px 5px 0px black, -3px -0px 5px 0px #888888;
    border-color: black;
    height: inherit;
    width:var(--ratio)}
    

.picFull
{
    display: none;
    height: 50%;
    width: var(--ratio);
    background-color: #888888;
    padding: 10%;
}


.divPic:hover {
    transform: scale(1.05)}
  
.divPic > div, .divPic::after {
    --ratio: calc(var(--w) / var(--h));
    --row-height: 9rem;
    width: fit-content;
    flex-basis: calc(var(--ratio) * var(--row-height)) 
}
.divPic > div {
    height: inherit;
    margin: 0.25rem;
    flex-grow: calc(var(--ratio) * 100)} */
  
.divPic > a, .divPic::after {
    --ratio: calc(var(--w) / var(--h));
    --row-height: 9rem;
    width: fit-content;
    flex-basis: calc(var(--ratio) * var(--row-height)) 
}
.divPic > a {
    height: inherit;
    /* margin: 0.25rem; */
    /* flex-grow: calc(var(--ratio) * 100) */
}

/* .divPic::after {
    --w: 2;
    --h: 1;
    content: '';
    flex-grow: 1000000;
} */
  
/* .divPic > a > img {
    display: block;
    width: 100%
} */

    /* .containerBis {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    display:-ms-flexbox;
    display:flex;

    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between} */

/* .rowImg {

    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px} */

    
/* .rowImg6 {
    column-width: 150px;
    column-count: 6;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    max-width: 1200px;
} */