<div style="text-align: center;">
    <input value="space" style="width:50%;" type="search" class="form-control" (keyup.enter)="search($event)"
        placeholder="Keyword...">
</div>

<!--ICI APPEL AU COMPONENT DE FILTRES-->
<app-filtre-images></app-filtre-images>

<br><br><br><br>
<div class="containerImg" style="background-image: url('');">

    <div id="divImg" class="divPic" *ngFor="let image of images">
        <img id="{{image.id}}" class="imgTest" src="{{image.url}}_m.jpg" title="{{image.title}}" (click)="onImageClick($event)">
    </div>
        
    <div class="search-results" 
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
    </div>
</div>

<div class="blurrer" (click)="onBlurrerClick($event)"></div>
<div class="imgContainer">
    <div>
        <img class="original" src={{img1024}} alt="Orginal sized image">
    </div>
    <div class="info" (click)="showInfo()"> i </div>
    <div class="owners">
        <img id="{{image.id}}" *ngFor="let image of OwnerImages" alt={{image.original}} src={{image.thumbnail}} class="ownersImage" (click)="ownerImgClick($event)">
    </div>
</div>
