<div class="filtres">
    <strong>Date min upload : </strong><input class="filtres-object" type="date" id="dateMin" (change)="setDateUploadMin()" [(ngModel)]="uploadMin">
    <strong>Date max upload : </strong><input class="filtres-object" type="date" id="dateMax" (change)="setDateUploadMax()" [(ngModel)]="uploadMax">
    <strong>Type de media : </strong>Whatever<input class="filtres-object" 
                                                    type="radio" 
                                                    name="media_type" 
                                                    (click)="setMediaType('all')" 
                                                    checked> 
                                    Photos<input class="filtres-object" 
                                                    type="radio" 
                                                    name="media_type" 
                                                    (click)="setMediaType('photos')"> 
                                    Videos<input class="filtres-object" 
                                                    type="radio" 
                                                    name="media_type" 
                                                    (click)="setMediaType('videos')"><br>
</div>